
        body {
            background: rgb(91, 90, 194);
            color: rgb(151, 55, 55);
            padding: 10px;
            font-family: arial;
        }
        #all-content {
            max-width: 800px;
            margin: auto;
        }

        /* navigation menu */
        nav {
            background: rgb(11, 63, 50);
            margin: 0 auto;
            display: flex;
            padding: 10px;
            margin-bottom: 20px; 
            border-bottom-right-radius: 20px; 
        }
        h1 {
            display: flex; 
            align-items: center;
            color: rgb(219, 181, 11);
            flex: 1;
            margin: 0;

        }
        #nav-ul {
            list-style-image: none;
            padding: 0 10px;
        }
        a {
            text-decoration: none;
            color: rgb(16, 166, 235);
        }

        /* main container area beneath menu */
        main {
            background: rgb(223, 172, 34);
            display: flex;
        }
        .sidebar {
            margin-right: 25px;
            padding: 10px;
        }
        .sidebar-img {
            width: 200px;
        }
        .content {
            flex: 1;
            padding: 15px;
        }
        #interests {
            border: 4px rgb(243, 78, 243) ridge;
            padding: 8px;
        }
        h2,h3 {
            margin: 0px; 
        }